// less variables
@main-txt-slate: #494949;
@title-box-gray: #efeeed;
@border-gray: #e8e6e3;
@secondary-txt-gray: #a0a3a3;
@caps-txt-gray: #a3b1c2;
@btn-gray: #9da5b3;

// mobile styles
.wrapper {
    display: flex;
}

.tablet-img {
    display: none;
}

.desktop-img {
    display: none;
}

.mobile-img {
    width: 100%;
}

// tablet styles
@media only screen and (min-width : 600px) {
    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: none;
    }

    .tablet-img {
        display: block;
        width: 100%;
    }
}

// desktop styles
@media only screen and (min-width : 900px) {
    .tablet-img {
        display: none;
    }

    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: block;
        width: 100%
    }
}
