// less variables
@main-txt-slate: #494949;
@title-box-gray: #efeeed;
@border-gray: #e8e6e3;
@secondary-txt-gray: #a0a3a3;
@caps-txt-gray: #a3b1c2;
@header-font: 'Rufina', serif;
@main-font: 'Maven Pro', sans-serif;

.hr {
    background-color: @border-gray;
    border: none;
    height: 1.5px;
}

h3 {
    font-family: @header-font;
    font-weight: 500;
    line-height: 25px;
    color: @main-txt-slate;
    font-weight: 400;
    font-size: 2.5vh;
}

p {
    font-family: @main-font;
    font-size: 16px;
}

.display-card, .img-container img {
    width: 100%;
}


.page-header {
    margin-top: 20px;
}

.wrapper {
    max-width: 1120px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    .aside {
        display: flex;
        flex-direction: column;
        .designer-info {
            text-align: center;
        }
        .filter {
            text-align: center;
            display: none;
            position: relative;
            .close-filter {
                position: absolute;
                top: 5px;
                right: 5px;
                color: @main-txt-slate;
                font-size: 1.2em;
            }
            .filter-header {
                text-align: left;
                margin-left: 1em;
            }
            .clear-btn {
                position: absolute;
                top: 0;
                right: 100px;
                text-align: center;
                line-height: 25px;
                transform: translate(50%);
                font-family: @main-font;
                text-transform: uppercase;
                color: @secondary-txt-gray;
                visibility: hidden;
            }
            .room-filters {
                .room-filter-list {
                    list-style-type: none;
                    padding: 0;
                    font-family: @main-font;
                    color: @main-txt-slate;
                    font-weight: 200;
                    line-height: 1.5;
                }
                .room-filter-list li:hover {
                    color: @secondary-txt-gray;
                    cursor: pointer;
                }
            }
        }
    }
    .img-container {
        .display-card {
            .display-desc {
                text-align: center;
                text-transform: uppercase;
                font-size: .8em;
                color: @main-txt-slate;
            }
        }
    }
    .filter-btn {
        background-color: @title-box-gray;
        border: 0 none;
        border-radius: 0;
        padding: 17px 0;
        text-transform: uppercase;
        font-family: @main-font;
        color: @main-txt-slate;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}



// ************mobile styles***************
.title-header {
    background-color: @title-box-gray;
    display: block;
    padding-bottom: 20px;
    padding-top: 25px;
    text-align: center;
    font-size: 24px;
}

// stack divs in column for mobile and tablet view, adjust sizes
.wrapper {
    flex-direction: column;
    .aside {
        margin-bottom: 20px;
        .aside-header {
            text-align: center;
        }
    }
}

// display nav and footer static imgs for mobile - FOR TEST DEMO
.tablet-img {
    display: none;
}

.desktop-img {
    display: none;
}

.mobile-img {
    width: 100%;
}



//************ tablet styles*************
@media only screen and (min-width : 600px) {

    
    .title-header {
        text-align: left;
    }
    
    .header-text {
        padding-left: 60px;
    }
    
    // display nav and footer static imgs for tablet - FOR TEST DEMO
    .mobile-img {
        display: none;
    }
    
    .desktop-img {
        display: none;
    }
    
    .tablet-img {
        display: block;
        width: 100%;
    }
}

//************* desktop styles **************
@media only screen and (min-width : 900px) {
    
    .title-header {
        max-width: 1120px;
        margin: 0 auto 0 auto;
        padding-bottom: 0;
        padding-top: 0;
    }
    
    .header-text {
        margin-top: 0;
        margin-bottom: 0;
        padding: 60px;
    }

    .wrapper {
        flex-direction: row;
        .aside {
            min-height: 100vh;
            flex: 1.5;
            .designer-info {
                min-height: 20vh;
            }
            .filter {
                display: block;
                .close-filter {
                    display: none;
                }
            }
        }
        .filter-btn {
            display: none;
        }
        .img-container {
            flex: 3;
            margin-left: 20px;
        }
    }

    // display nav and footer static imgs for desktop - FOR TEST DEMO
    .tablet-img {
        display: none;
    }

    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: block;
        width: 100%
    }
}
